// ROUTE: $PATH$
// METHOD: $METHOD$
// NAME: $NAME$

import fastify from '$SRC$fastify'
import * as z from 'zod'
import {
    type FastifyZodOpenApiSchema,
    type FastifyZodOpenApiTypeProvider
} from 'fastify-zod-openapi'
import logger from '$SRC$logger'
import db from '$SRC$db'
import meta from '$SRC$meta'
import config from '$SRC$config'
import BadRequestResponseZ from '$SRC$types/BadRequestResponseZ'
import InternalServerErrorResponseZ from '$SRC$types/InternalServerErrorResponseZ'
import UnauthorizedResponseZ from '$SRC$types/UnauthorizedResponseZ'
import type { FastifyReply } from 'fastify'
import _failInternal from '$SRC$utils/failInternal'
function failInternal(res: FastifyReply, err: unknown) {
    return _failInternal(res, err, import.meta.url)
}
import requireJWT from '$SRC$types/requireJWT'
import { JWTPayloadZ } from '$SRC$types/JWTPayload'
import SuccessIndicatorResponseZ from '$SRC$types/SuccessIndicatorResponseZ'
$ADMIN_0$

fastify.withTypeProvider<FastifyZodOpenApiTypeProvider>().$METHOD_LOWERCASE$(
    '$PATH$',
    {
        $AUTH_1$
        schema: {
            hide: $HIDE$,
            summary: '', // TODO: Add summary and description
            description: ``, // Expandable, more detailed description
            $AUTH_2$
            $OPTIONAL_BODY$
            response: {
                200: SuccessIndicatorResponseZ,
                400: BadRequestResponseZ,
                401: UnauthorizedResponseZ,
                $ADMIN_1$
                500: InternalServerErrorResponseZ
            }
        } satisfies FastifyZodOpenApiSchema
    },
    async (req, res) => {
        try {
            $AUTH_3$
            $ADMIN_2$

            res.status(200).send({ success: true })
        } catch (err) {
            return failInternal(res, err)
        }   
    }
)
